.result-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  box-sizing: border-box;
}

.result-layout {
  display: flex;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}

.left-panel {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #f8f9fa;
  box-sizing: border-box;
  margin-top: 0;
  height: 100%;
  align-self: stretch;
  padding-top: 20px;
  position: relative;
  z-index: 1;
}

.right-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  height: 100%; 
  position: relative;
  z-index: 2;
}


.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  box-sizing: border-box;
}

.result-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.export-button {
  background-color: #315881;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  z-index: 9999;

}

.export-button:hover {
  background-color: #0056b3;
}

.result-inner {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 1.5rem;
}

.updated-time {
  margin-top: auto;
  text-align: right;
  font-size: 0.875rem;
  color: #666;
  padding-top: 1rem;
}